---
import Layout from "@layouts/Layout.astro";
import ProvinsiData from "@components/ProvinsiData.vue";
import SchemaHeader from "@components/SchemaHeader.astro";
import BreadCrumbs from "@components/BreadCrumbs.astro";

import { provinceSeo } from "@seo/province";
import { ApiConnector } from "@utils/api";
import * as helpers from "@utils/helper";

const params = Astro.params;
const currentPage = Number(params.page) || 1;
const slug = String(params.slug) || "riau";

const result = await ApiConnector.getList({
  recordName: "kodepos",
  filter: `province_slug='${slug}'`,
  page: currentPage,
  max: import.meta.env.MAX_LIST_PER_PAGE,
  url: import.meta.env.PB_URL,
});

const routeSlug = helpers.routeSlug;

const pagination = helpers.pagination({
  type: "provinsi",
  result,
  slug,
});

const provinceName = helpers.toTitleCase(result.items[0].province_name);
const seo = provinceSeo({
  provinceName,
  page: result.page,
  totalPage: result.totalPages,
});

const breadcrumbs = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: `Provinsi ${helpers.toTitleCase(slug)}`,
    link: `/${routeSlug.provinsi}${slug}`,
  },
  {
    name: seo.title,
    link: Astro.url.pathname,
  },
];
// console.log(Astro.site);
---

<Layout {seo}>
  <SchemaHeader {breadcrumbs} slot="breadcumbs-schema" />
  <BreadCrumbs slot="breadcumbs" {breadcrumbs} />

  <ProvinsiData data={result} params={params} {routeSlug} {seo} client:only />
  <div class="btn-group flex justify-center mt-3">
    <a href={pagination.first} class="btn">1</a>
    <!-- <a class="btn btn-disabled">...</a> -->
    <a href={pagination.prev} class="btn">«</a>
    <a href="" class="btn">Page {pagination.current}/{pagination.last}</a>
    <a href={pagination.next} class="btn">»</a>
    <!-- <a class="btn btn-disabled">...</a> -->
    <a href={pagination.lastLink} class="btn">{result.totalPages}</a>
  </div>
</Layout>
